# Common
*.log
.DS_Store
.env*
.git
.gitignore
docker-compose.yml
Dockerfile

# Node (Frontend)
node_modules
.next
frontend/node_modules
frontend/.next

# Go (Backend)
backend/tmp
backend/bin
backend/vendor
backend/.idea

# Ignore dev-specific files
*.swp
*.swo


# Infra
infra/private.tfvars
infra/.terraform
.terraform.lock.hcl
.terraform.tfstate.*
.terraform.tfstate.backup