# Ignore backend .env file
backend/.env*
infra/private.tfvars
infra/.terraform
infra/.terraform.lock.hcl
infra/.terraform.tfstate.*
*/terraform.tfstate
*/terraform.tfstate.backup
infra/.terraform.tfstate.backup
infra/*

frontend/pnpm-lock.yaml
frontend/package-lock.json
frontend/package.json